.challenge__input {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #9e9b9b;
  font-size: 36px;
  font-weight: 400;
}

.challenge__input::placeholder {
  color: #9e9b9b;
}

.challenge__input[type~='text'],
.challenge__input[type~='name'],
.challenge__input[type~='email'] {
  font-size: 36px;
}

.challenge__input_error {
  color: #fc3c3c;
  border-bottom: 1px solid #fc3c3c;
}

.challenge__input_error::placeholder {
  color: #fc3c3c;
}

.error_text {
  color: #fc3c3c;
  font-family: Matter, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 1350px) {
  .challenge__input {
    font-size: 28px;
    font-weight: 400;
  }
  .challenge__input[type~='text'],
  .challenge__input[type~='name'],
  .challenge__input[type~='email'] {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .challenge__input {
    font-size: 24px;
    font-weight: 400;
  }
  .challenge__input[type~='text'],
  .challenge__input[type~='name'],
  .challenge__input[type~='email'] {
    font-size: 24px;
  }
}
