.slider-crm-wrapper {
  position: sticky;
  top: 0px;
  overflow: hidden;
  min-height: 100vh;
}

.slider-crm {
  padding-top: 120px;
  margin-bottom: 138px;
}

.slider-crm__item {
  color: #000;
  text-align: center;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
}

.slider-crm__item-title {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 102px;
}

.slider-crm__item-lable {
  font-family: Matter;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 46px;
}

.slider-crm__item-subtitle {
  font-family: Matter;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 90px;
}

.swiper-pagination {
  border-radius: 100px;
  background: #f3f3f3;
  max-width: 105px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #d9d9d9;
  opacity: 1;
  margin: 0 !important;
}

.swiper-pagination-bullet-active {
  transition: width 0.5s;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  margin: 0 !important;
}

.swiper-pagination-horizontal {
  left: 50% !important;
  transform: translateX(-50%);
}

@media screen and (max-width: 1350px) {
  .slider-crm {
    padding-top: 100px;
    margin-bottom: 120px;
  }
  .slider-crm__item-title {
    font-size: 62px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .slider-crm__item-lable {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .slider-crm__item-subtitle {
    font-size: 30px;
    padding-bottom: 80px;
  }
  .swiper-pagination {
    max-width: 74px;
    height: 24px;
    gap: 12px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 768px) {
  .slider-crm {
    padding-top: 85px;
    margin-bottom: 110px;
  }
  .slider-crm__item-title {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 32px;
  }
  .slider-crm__item-lable {
    font-size: 38px;
    margin-bottom: 32px;
  }
  .slider-crm__item-subtitle {
    font-size: 24px;
    padding-bottom: 60px;
  }
  .swiper-pagination {
    max-width: 74px;
    height: 24px;
    gap: 12px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 430px) {
  .slider-crm {
    padding-top: 70px;
    margin-bottom: 90px;
  }
  .slider-crm__item-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .slider-crm__item-lable {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .slider-crm__item-subtitle {
    font-size: 20px;
    padding-bottom: 47px;
  }
  .swiper-pagination {
    max-width: 51px;
    height: 17px;
    gap: 8px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }
}
