.slider-crm {
  padding-top: 120px;
  margin-bottom: 138px;
}

.slider-crm__item {
  color: #000;
  text-align: center;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
}

.slider-crm__item-title {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 102px;
}

.slider-crm__item-lable {
  font-family: Matter;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 46px;
}

.slider-crm__item-subtitle {
  font-family: Matter;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 90px;
}

@media screen and (max-width: 1350px) {
  .slider-crm__item-title {
    font-size: 62px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .slider-crm__item-lable {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .slider-crm__item-subtitle {
    font-size: 30px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .slider-crm__item-title {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 32px;
  }
  .slider-crm__item-lable {
    font-size: 38px;
    margin-bottom: 32px;
  }
  .slider-crm__item-subtitle {
    font-size: 24px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 430px) {
  .slider-crm__item-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .slider-crm__item-lable {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .slider-crm__item-subtitle {
    font-size: 20px;
    padding-bottom: 47px;
  }
}
