.marketing__section {
  width: 100%;
  color: #000;
  padding-bottom: 233px;
}

.marketing__section__title {
  font-size: 80px;
  padding: 85px 0;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid #000;
  margin-bottom: 49px;
}

.marketing__section__drop-cap {
  font-family: Gallery Modern, sans-serif;
  font-size: 130px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.marketing__section__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 120px;
  column-gap: 55px;
}

@media screen and (max-width: 1350px) {
  .marketing__section {
    padding-bottom: 150px;
  }
  .marketing__section__title {
    font-size: 50px;
  }

  .marketing__section__title span {
    font-size: 50px !important;
  }
  .marketing__section__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 60px;
    column-gap: none;
  }
}

@media screen and (max-width: 768px) {
  .marketing__section {
    padding-bottom: 100px;
  }

  .marketing__section__title {
    font-size: 30px;
    padding: 30px 0;
  }
  .marketing__section__title span {
    font-size: 30px !important;
  }
}
