.title {
  font-size: 80px;
  padding: 85px 0;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid #000;
  margin-bottom: 49px;
}

.title span {
  font-family: Gallery Modern, sans-serif;
}

@media screen and (max-width: 1350px) {
  .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
    padding: 30px 0;
  }
}
