.pin-spacer {
  padding: 0 !important;
}

body {
  margin: 0;
}

.main-slideWrapper {
  padding-top: 240px;
  padding-bottom: 138px;
}

.main-slide {
  display: flex;
}

.slide-item {
  display: flex;
}

.slide-item .item {
  width: 100vw;
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.main-slide .item {
  background: white;
}

.navTitle-wrap {
  width: 100%;
  height: 50px;
  z-index: 2;
  text-align: center;
  background: none;
  display: flex;
  justify-content: center;
}

.thumb-slider {
  border-radius: 100px;
  background: #f3f3f3;
  width: 105px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.thumb-slider .navTitle {
  width: 15px;
  height: 15px;
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.5s;
}
.thumb-slider .slide-item.active .navTitle {
  background: rgb(255, 255, 255);
  transition: background 0.5s;
  border-radius: 50%;
}

.slider-crm__item {
  color: #000;
  text-align: center;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
  max-width: 1200px;
}

.slider-crm__item-title {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 102px;
  width: 100%;
  max-width: 100%;
}

.slider-crm__item-lable {
  font-family: Matter;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 46px;
  width: 100%;
  max-width: 100%;
}

.slider-crm__item-subtitle {
  font-family: Matter;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 90px;
  width: 100%;
  max-width: 100%;
}

.panel__title {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 auto;
}

.panel__subtitle {
  color: #000;
  text-align: center;
  font-family: Matter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.panel__about {
  color: #000;
  text-align: center;
  font-family: Matter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1350px) {
  .main-slideWrapper {
    padding-top: 150px;
    padding-bottom: 138px;
  }
  .slider-crm__item {
    max-width: 1000px;
  }
  .slider-crm__item-title {
    font-size: 62px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .slider-crm__item-lable {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .slider-crm__item-subtitle {
    font-size: 30px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .main-slideWrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .slider-crm__item {
    max-width: 630px;
  }
  .slider-crm__item-title {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 32px;
  }
  .slider-crm__item-lable {
    font-size: 38px;
    margin-bottom: 32px;
  }
  .slider-crm__item-subtitle {
    font-size: 24px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 430px) {
  .slider-crm__item {
    max-width: 360px;
  }
  .slider-crm__item-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .slider-crm__item-lable {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .slider-crm__item-subtitle {
    font-size: 20px;
    padding-bottom: 47px;
  }
}
