.footer {
  color: #fff;
  background-color: #000;
  padding: 25px 0;
  width: 100%;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contact {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  text-align: center;
  font-family: Matter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__email {
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 100px;
  border: 1px solid #fff;
}
.footer__phone {
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid #fff;
  width: fit-content;
}
.footer__partner {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer__image {
  border-radius: 5px;
  overflow: hidden;
  height: 60px;
}

@media screen and (max-width: 1350px) {
  .footer__wrapper {
    justify-content: center;
    flex-direction: column;
    gap: 58px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 39px;
    padding-bottom: 31px;
  }
  .footer__wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer__contact {
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    align-items: center;
  }
  .footer__partner {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
