.describe__section {
  padding: 233px 0;
}
.describe__section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.describe__section__title {
  color: #000;
  text-align: center;
  font-family: Matter;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 104px;
}

.describe__section__title span {
  font-family: Gallery Modern;
  text-decoration-line: underline;
}

@media screen and (max-width: 1350px) {
  .describe__section {
    padding: 150px 0;
  }
  .describe__section__title {
    font-size: 50px;
    margin-bottom: 52px;
  }
}

@media screen and (max-width: 768px) {
  .describe__section {
    padding: 100px 0;
  }

  .describe__section__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
