.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: auto;
}

.swiper-slide-active {
  text-decoration-line: underline;
  font-size: 20px;
  font-family: Matter, sans-serif;
  font-weight: 700;
}
